body
{
    text-align: center;
    align-content: center;
    justify-content: center;
    font-family: cursive, 'Comic Sans MS';
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    background-image: url("Pics/BG.jpg");
    background-blend-mode: darken;
    background-position: 50%;
    background-size: 200px;
}
div
{
    display: inline-flex;
    text-align: left;
}
li
{
    list-style-position: inside;
}
div .gallery
{
    list-style: none;
    text-align: center;
}
div .gallery li
{
    display: inline-flex;
    justify-content: center;
    margin: auto;
}
div .gallery img
{
    margin: 10px;
}
img
{
    border-style: ridge;
}